.dash-board ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	/* background-color: #f1f1f1; */
}

.dash-board li {
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
	cursor: pointer;
}

.dash-board li:hover {
	background-color: #4a76a8;
	color: white;
}
