.main {
	display: flex;
	height: 100%;
	padding: 0 15px;
	margin: 0 auto;
	margin-top: 42px;
	margin-bottom: 42px;
	width: 960px;
	background-color: #edeef0;
	justify-content: space-between;
}

.side-bar {
	width: 150px;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: blueviolet;
}

.search-bar-hidden {
	visibility: hidden;
	height: 0px;
}

.news-bar {
	width: 750px;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: darkblue;
}

.news-list {
	background-color: darkgreen;
}

.search {
	display: flex;
	justify-content: left;
	margin-left: 20px;
	margin-bottom: 20px;
}

.multi-search {
	width: 600px;
}

.search-bar button {
	display: block;
	margin-left: 20px;
}

.paggination-bar {
	display: flex;
	background-color: deeppink;
	justify-content: center;
}
