header {
	display: block;
	background-color: #4a76a8;
	position: fixed;
	height: 42px;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 120;
	direction: ltr;
	text-align: left;
}

header .content {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	height: 42px;
	font-size: 12.5px;
	padding: 0 15px;
}

header .home {
	display: block;
	height: 42px;
}

header .lang-link {
	display: block;
	height: 42px;
}

header .home a {
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	font-size: 20px;
	color: black;
	text-align: center;
	vertical-align: middle;
	line-height: 42px;
}

header .lang-link a {
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	font-size: 14px;
	color: black;
	text-align: center;
	vertical-align: middle;
	line-height: 42px;
}

header a:hover {
	color: #edeef0;
}

header h4 {
	margin: 0;
}

header div div {
	display: inline-block;
}

header a {
	padding: 0 0.2vh;
}

header button {
	border: 1px solid #4a76a8;
	background-color: #4a76a8;
	cursor: pointer;
	margin: 5%;
}

header button:hover {
	/* border: 2px solid #33649b; */
	color: #edeef0;
}
